.submit{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    position: relative;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit h1{
    margin-bottom: 48px;
}

.submit-container{
    width: 600px;
    padding: 24px;
    border: 2px grey solid;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.submit-subContainer{
    align-items: center;
    flex-wrap: wrap;
}

.submit-subContainer input, .submit-subContainer select{
    width: 100%;
    max-width: 100%;
    padding: 4px;
}

.submit-subContainer label{
    text-wrap: nowrap;
}

.submit-subContainer:nth-of-type(2) {
    align-items: flex-start;
    flex-direction: column;
}

.submit-subContainer:nth-of-type(2) textarea{
    width: 100%;
    height: 100px;
    resize: none;
}

.submit-subContainer{
    display: flex;
    gap: 4px;
}

.submit-subContainer:nth-of-type(5){
    justify-content: center;
}

.image-preview {
    margin-top: 10px;
    max-width: 300px;
    width: 300px;
    height: auto;
    max-height: 500px;
    display: none;
    object-fit: cover;
    justify-self: center;
}

.errorContainer{
    display: flex;
    flex-direction: row;
    gap: 4px
    ;
}

.errorMSG{
    text-wrap: wrap;
}


.submit-subContainer:nth-of-type(4){
    flex-direction: column;
}

.checkbox-container{
    width: 100%;
    height: 200px;
    border: 1px grey solid;
    overflow: scroll;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.checkbox-container div{
    width: 33%;
}

.button{
    width: 100%;
}

@media(max-width:630px){
    .submit-container{
        width: calc(100% - 30px);
    }
}